footer {

    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;

    ul li {
        list-style-type: none;
        margin-top: 15px;
    }

    a {
        text-decoration: none;
    }

    .image-logo {
        flex-basis: 300px;
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 150px;

        li:last-child {
            margin-bottom: 15px;
        }
    }

    .fromTheBlog {
        flex-basis: 150px;
    }
}