// main site here
.hero-section { 

    padding: 20px;
    display: flex;
    justify-content: space-evenly;

    .caption {

        a {
            display: block;
        }

        p {
            margin-top: 10px;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: $primary_color;
            max-width: 600px;
        }

        .buttons {
            margin-top: 20px;

            a {
                @include btn-test;
                text-decoration: none;
                color: #fff;
                background-color: #2c4792;
                display: inline-block;
            }
        }        
        
    }
    img {
        width: 500px;
    }
}


// media queries hero-section 
@media screen and (max-width: 1100px) {
    
    .hero-section {
        img {
            width: 350px;
        }
    }
    
}    

// media queries hero-section 
@media screen and (max-width: 900px) {

    h1 {
        font-size: 50px;
        text-align: center;
    }

    .hero-section {
        // margin-top: 250px;
        flex-direction: column;
        
        .caption {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        .image {
            display: flex;
            justify-content: center;
        }

        img {
            width: 600px;
        }
    }
}    

@media screen and (max-width: 600px) {
    .hero-section {
        img {
            width: 300px;
        }
    }
}


// sezione con background salmone

.salmone {

    p {
        font-weight: 400;
    }
    margin-top: 80px;
    color: $primary_color;
    // padding: 50px 0;
    background-color: #fee7d1;

    .intro {
        text-align: center;
        padding-top: 100px;
    }

    .salmone-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 60px 0;

        img {
            height: 150px;
        }

        .dettaglio {
            padding: 20px 0;
            text-align: center;

            img {
                padding-bottom: 30px;
            }
        }
    }

    .parent {

        display: flex;
        justify-content: center;

        .immagine-centrale {

            width: 500px;
            padding-bottom: 50px;
            
            img {
                width: 100%;
            }
        }
    }

    .vuoto {
        border-bottom: 1px solid $primary_color;
        padding: 50px 0 0 0;
        width: 100%;
    }

    .colophon {

        text-align: center;
        h2 {
            padding: 100px 0;
        }
    }
}

// media queries sezione salmone 

@media screen and (max-width: 900px) {
    .salmone-wrapper {
        flex-direction: column;
    }
    
    .salmone {
        .container {
            .parent {
                .immagine-centrale {
                
                        width: 300px    
                }
            } 
        }
    }   
}

// sezione asimmetrica 
.asimmetrica {

    img {
    width: 600px;
    }
        .contenitore {
        display: flex;

            p {
                font-weight: normal;
                color: $primary_color;
            }
            .testi-con-immagine {
                display: flex;
                flex-direction: column;
                line-height: 30px;
                margin-top: 200px;
                width: 500px;

                    img {
                        width: 300px;
                    }
        }
    }

}

// sezione asimmetrica 
.asimmetrica2 {

    img {
    width: 600px;
    }
        .contenitore {
        display: flex;
        flex-direction: row-reverse;
            p {
                font-weight: normal;
                color: $primary_color;
            }
            .testi-con-immagine {
                display: flex;
                flex-direction: column;
                line-height: 30px;
                margin-top: 200px;
                width: 500px;

                    img {
                        width: 300px;
                    }
        }
    }

}


// media queries sezione asimmetrica
@media screen and (max-width: 900px) {

    .asimmetrica {

        h2 {
            font-size: 20px;
        }

        img {
            width: 300px;
        }
        .contenitore {
            flex-direction: column;
            align-items: center;
            .testi-con-immagine {
                margin-top: 0;
                padding: 20px 80px;
                align-items: center;
                
            }
        }      
    }

    .asimmetrica2 {
        h2 {
            font-size: 20px;
        }

        img {
            width: 300px;
        }
        .contenitore {
            flex-direction: column-reverse;
            align-items: center;
            .testi-con-immagine {
                margin-top: 0;
                padding: 20px 80px;
                align-items: center;
                
            }
        }      
    }
}

// sezione cofounders

.author {
    background-color: #fee7d1;
    margin: 30px 0;
    padding: 50px 0 180px 0;
    color: $primary_color;
    font-weight: normal;
    font-size: 18px;

    .wrapper {

        width: 600px;
        margin: 0 auto;
        position: relative;

        .intro {
            text-align: center;
            padding: 50px 0;
            h2 {
                font-size: 50px;
            }

            img {
                position: absolute;
                right: -8px;
                bottom: 65px;
            }
        }
    }

    .testimonial {
        width: 800px;
        margin: 0 auto;
        background-color: #fff;
        border: 2px solid $secondary_color;
        border-radius: 18px;
        padding: 25px;
        position: relative;

        .text-georgia {
            position: absolute;
            top: -29px;
            font-size: 50px;
            left: -1px;
            color: $secondary_color;
        }

        .info-container {
            display: flex;
            align-items: center;
            
            img {
                margin-right: 10px;
            }
            .info {
                margin-top: 20px;

                :first-child {
                    color: $secondary_color;
                }

               
            }
        }

        img {
            margin-top: 20px;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        
        a {
            margin: 0 15px;
            @include btn-test;
            text-decoration: none;

            &:hover {
                background-color: $secondary_color;
                color: #fff;
            }
        }
    }

    .or {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            margin-left: 10px;
            color: $primary_color;
        }
    } 
}


@media screen and (max-width: 900px) {

    .author {

        .wrapper {
            width: 300px;
        }
        
        .testimonial {
            width: 300px;
        }
    }   
    
}