// main site here
.hero-section { 

    padding: 20px;
    display: flex;
    justify-content: space-evenly;

    .caption {

        a {
            display: block;
        }

        p {
            margin-top: 10px;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: $primary_color;
            max-width: 600px;
        }

        .buttons {
            margin-top: 20px;

            a {
                @include btn-test;
                text-decoration: none;
                color: #fff;
                background-color: #2c4792;
                display: inline-block;
            }
        }        
        
    }

    img {
        width: 500px;
    }
}


// media queries hero-section 
@media screen and (max-width: 1100px) {
    
    .hero-section {
        img {
            width: 350px;
        }
    }
    
}    

// media queries hero-section 
@media screen and (max-width: 900px) {

    h1 {
        font-size: 50px;
        text-align: center;
    }

    .hero-section {
        margin-top: 250px;
        flex-direction: column;
        
        .caption {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        .image {
            display: flex;
            justify-content: center;
        }

        img {
            width: 600px;
        }
    }
}    

@media screen and (max-width: 600px) {
    .hero-section {
        img {
            width: 500px;
        }
    }
}


// sezione con background salmone

.salmone {

    p {
        font-weight: 400;
    }
    // margin-top: 40px;
    color: $primary_color;
    padding: 50px 0;
    background-color: #fee7d1;

    img {
        height: 150px;
    }

    .intro {
        text-align: center;
    }

    .salmone-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px 0;

        .dettaglio {
            padding: 20px 0;
            text-align: center;

            img {
                padding-bottom: 30px;
            }
        }
    }
}


// media queries sezione salmone 

@media screen and (max-width: 900px) {
    .salmone-wrapper {
        flex-direction: column;
    }
}
