// delle specie di variabili in cui possono mettere tante regole
@mixin btn-test {
    border: 1px solid #2c4792;
    padding: 10px 12px;
    border-radius: 4px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

header {
    height: 80px;

    ul li {
        display: inline-block;
        margin-right: 50px;
    }

    ul li:last-child {
        margin-right: 0;
        @include btn-test;
    }

    ul li:last-child:hover {
        background-color: #2c4792;

        a {
            color: #fff;
        }
    }

    a {
        text-decoration: none;
        color: #58402c;
    }

    a:hover {
        color: orange;
    }

}

.container {
    width: 85%;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid #58402c;

    .logo {
        margin-left: 15px;
    }
}

.white {
    color: #fff;
}